{{#Servers}}
* @{{{Kind}}} Name={{Name}} run on {{Engine}} for every {{Definition}}
    {{#Paths}}
    POST {{Path}}
    {{#Operations}}
        {{OperationId}} [{{#Parameters}}{{Name}}={{Kind}}{{#hasMore}}, {{/hasMore}}{{/Parameters}}] => {{DataType}}({{DataModel}}) will execute {{#Function}}@{{Kind}}={{Name}}{{/Function}}
        {{#Function}}
            {{#Chains}}
                {{#Run}}Function={{Name}}{{/Run}}() onSuccess={{Next}}() onFailure={{Other}}() RetryOnFailure={{Retry}}
            {{/Chains}}
        {{/Function}}
    {{/Operations}}
    {{/Paths}}
    {{#hasMore}}{{/hasMore}}
{{/Servers}}

{{#Events}}
* Will execute Function={{Function}} on {{{Type}}}={{Name}}({{Value}}) => accessible to [{{Definition}}] with Access={{Access}}
{{/Events}}

{{#DataSources}}
{{^isEmpty}}
* [{{Definition}}] persists on DataSource={{{Type}}}@{{Name}} has Indexes={{#Indexes}}{{Name}}:{{Type}}{{#hasMore}},{{/hasMore}}{{/Indexes}}
{{/isEmpty}}
{{/DataSources}}

{{#DataInputs}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{/DataInputs}}

{{#EnumObjects}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{/EnumObjects}}

{{#DataObjects}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Name}} (...) {{/Value}} }
{{/UserType}}
{{/DataObjects}}