'use strict';
const fs = require('fs')
const path = require('path')
const { ApolloServer, gql } = require('apollo-server');
const schema = fs.readFileSync(path.resolve(__dirname, 'graphql.schema'), 'utf8')
const typeDefs = gql(schema);

{{#Servers}}
{{#Paths}}
{{#Operations}}
{{#Function}}const {{Name}} = require('./StateMachine/{{Name}}'){{/Function}}
{{/Operations}}
{{/Paths}}
{{/Servers}}

const resolvers = {
    {{#Servers}}
    {{Definition}}: {
    {{#Paths}}
    // POST {{Path}} {{#Options}}using {{AuthMode}} authorization with ApiKey={{ApiKey}}{{/Options}}
    {{#Operations}}
        {{OperationId}}: (parent, args, context, info) => {{#Function}}{{Name}}(parent, args, context, info){{/Function}}{{#hasMore}},{{/hasMore}}
    {{/Operations}}
    {{#hasMore}},{{/hasMore}}{{^hasMore}}// END{{/hasMore}}
    {{/Paths}}
    }{{#hasMore}},{{/hasMore}}
    {{/Servers}}
}

const server = new ApolloServer({
    typeDefs, resolvers
})

server.listen().then(({ url }) => {
    console.log(`GraphQL server is ready at ${url}`)
})