'use strict';
{{#RemoteExecutionMode}}
const AWS = require('aws-sdk');
const lambda = new AWS.Lambda();
{{/RemoteExecutionMode}}

module.exports.handler = function(event, context, callback) {
    {{#RemoteExecutionMode}}
    var params = {
        FunctionName: "{{Run.Name}}LambdaFunction", 
        Payload: "<Binary String>"
    };
    lambda.invoke(params, function(err, data) {
        callback(err, data)
    });
    {{/RemoteExecutionMode}}
    {{^RemoteExecutionMode}}
    callback(null, {})
    {{/RemoteExecutionMode}}
}
