'use strict';

const { StateExecution } = require('../StateExecution')
let {{DataModel}} = require('../Models/{{DataModel}}')

module.exports.{{Name}} = (parent, args, context, info) => new StateExecution().execute([
    {{#Chains}}
    { Run: {{#Run}}"{{Name}}"{{/Run}}, Next: "{{Next}}", Other: "{{Other}}"{{#Retry}}, Retry: {{Retry}}{{/Retry}} }{{#hasMore}},{{/hasMore}}
    {{/Chains}}
], { parent, args, context, info }, "{{DataType}}", {{DataModel}})
